.payment__main-div {
    display: flex;
    margin-bottom: 146px;
}

.payment__left-div {
    margin-top: 332px;
    margin-right: 95px;
}

.payment__title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
    margin-bottom: 24px;
}

.payment__text {
    width: 445px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
}

.payment__right-div {
    display: flex;
    margin-top: 150px;
}

.payment-img1 {
    padding-right: 40px;
}
